#display-errors {
  color: red;
}

body {
  font-family: sans-serif;
  font-size: .9em;
  margin: 0;
}

h1 {
  display: none;
}

h1, h2, h3, h4 {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

h3 {
  margin: 0;
  margin-bottom: 10px;
}

form {
  border-bottom: 1px solid black;
  padding: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header li {
  padding-top: 20px;
}

input, button {
  padding: 5px;
  font-size: 14px;
  border-radius: 10px;
}

input {
  width: 70px;
}

button:hover:enabled {
  cursor: pointer;
  color: white;
  background-color: black;
}

header li:last-child {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header li:last-child button:first-child {
  margin-bottom: 5px;
}

header li:last-child button:last-child {
  margin-top: 5px;
}

section header {
  text-align: center;
}

.index > ul > li {
  display: inline-block;
  padding: 0;
  border: 1px solid black;
  margin: 20px;
  color: black;
}

.index > ul > li > a {
  display: block;
  text-decoration: none;
  color: black;
}

.index > ul > li > a:hover {
  background-color: black;
  color: white;
}

.results-index > ul > li {
  font-size: 48px;
}

.results-index a {
  padding: 50px;
}

.analysis-index .stats li {
  list-style: none;
  margin-top: 10px;
}

.analysis-index a {
  padding: 20px;
}

.simulation-index > li {
  display: inline-block;
  padding: 20px;
  border: 1px solid black;
  margin: 10px;
}
