#error-display {
  color: red;
}

body {
  font-family: sans-serif;
  font-size: .9em;
  margin: 0;
}

form {
  border-bottom: 1px solid black;
  padding: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header li {
  list-style: none;
  padding-top: 20px;
}

input, button {
  padding: 5px;
  font-size: 14px;
  border-radius: 10px;
}

input {
  width: 70px;
}

button:hover:enabled {
  cursor: pointer;
  color: white;
  background-color: black;
}

header li:last-child {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header li:last-child button:first-child {
  margin-bottom: 5px;
}

header li:last-child button:last-child {
  margin-top: 5px;
}
